@import '../../mixins.scss';

.skills {
    width: 100%;
    height: auto;
    padding: 100px 10px 10px 10px;

    .heading {
        display: flex;
        justify-content: center;

        & h1 {
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            font-weight: bold;
            color: #111;
        }
    }

    .text {
        display: flex;
        justify-content: center;
        margin-top: 35px;

        .paragraph {
            color: #111;
            font-size: 1.025rem;
            text-align: center;
            width: 750px;
            font-weight: normal;
            letter-spacing: 0.5px;
        }
    }


    .line {
        width: 100%;
        display: flex;
        justify-content: center;

        & div {
            height: 5px;
            width: 50px;
            background: #5651e5;
            border-radius: 5px;
            margin-top: 20px;

        }
    }

    .skill-box {
        width: 100%;
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0rem 1rem;
        gap: 2rem;

        @include md {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include lg {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        .box {
            width: 100%;
            padding: 1.5rem;
            border-radius: 0.75rem;
            background-color: #ecf0f3;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 13px;
            transition: 300ms cubic-bezier(0.4, 0, 1, 1);

            &:hover {
                transform: scale(1.05);
            }

            .box-content {
                width: 100%;
                display: block;
                justify-content: space-around;
                align-items: center;

                @include xs {
                    justify-content: space-around;
                    display: flex;
                }

                .name {
                    font-size: 14px;
                    @include sm{
                        font-size: 16px;
                    }
                }

                .img {
                    width: 40px;
                    height: 40px;

                    @include md {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }

}